*{
    margin: 0;
    padding: 0;

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background:url(https://img.freepik.com/free-vector/abstract-background-design-with-stars-blue_53876-43533.jpg?w=826&t=st=1706120560~exp=1706121160~hmac=e28cf198e7f050ed49e813a30cacf0148b40ae6b4b000955600483ad98f81c32) no-repeat center;
    background-size: cover;

}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background:  transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter:blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;


}
h2{
    font-size: 2em;
    color: white;
    text-align: center;

}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
color: #fff;
font-size: 1em;
pointer-events: none;
transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;

}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
outline: none;
font-size: 1em;
padding: 35px 0 5px;
color:#fff


}
.inputbox i{
position: absolute;
right: 8px;
color: #fff;
font-size: 0.8em;
top: 50px;

}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;

}

.forget label input{
    margin-right: 3px;

}

.forget label a{
    color: #fff;
    text-decoration: none;

}

.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25PX 0 10PX;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}
.register p a:hover{
    text-decoration: underline;

}